sudo:       required
language:   generic
services:   docker

tex-config:
  - tex-scheme=small
  - push-type=branch
  - build-pattern=src/*.tex
  - packages=fullpage,microtype

env:
  global:
    ## When you have done the travis encrypting, then it should look
    ## something like this
    # secure: ENCRYPTED-GITHUBTOKEN
    - IS_TRAVIS=true

script:
  - chmod +x .travis/travis-texbuild.sh
  - .travis/travis-texbuild.sh